[Desktop Entry]
Name=ATLAS
Comment=Classic and calm Plasma color scheme for Debian 12
X-KDE-PluginInfo-Author=ARKYN
X-KDE-PluginInfo-Name=ATLAS
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=colors